.f_1{
    margin-right: 579px;
    padding-bottom: 10px;
}

.p_1{
    width: 350px;
}

.f_2{margin-right: 579px;
padding-bottom: 39px;
}

.p_2{
    width: 282px;
}

.p_3{
width: 350px;

}

.td_2{
    
 
    padding-right: 69px;
 
}
.input{
    padding-right: 76px;
   margin-left: 31px;
}

.input_2{
    padding-right: 74px;
    margin-left: 19px;
}

.input_3{

    padding-right: 76px;
    margin-left: 39px;
}

.i_1{
    padding-right: 188px;
    margin-left: 95px;

}

.i_2{
    padding-right: 83px;
    margin-left: 95px;
    
   

}

.i_3{
    padding-right: 80px;
    margin-left: 97px;

}

.f_3{
    margin-right: 579px;
}
.v{
    position: absolute;
}

.pl{
    position: absolute;
}

.per{
    position: absolute;
 
}