@import url('https://fonts.googleapis.com/css2?family=Ponnala&display=swap');

h1, h3, a{
    color: red;
}

hr{
    border-color: red;
    width: 300px;
    position: relative;
    top: -35px;
    left: 175px;
}
.p_1{
    font-size: 13px;
    font-style: italic;
    margin-top: -28px;
}

.p_2{
    background-color: black;
    color: white;
    padding: 15px 10px;
}