.format_block{
    width: 169px;
    margin: auto;
    margin-top: 6em;
    padding: 0em;
    border: 2px solid black;
    cursor: pointer;
   
   
    
}

.blue-input:focus {
    color: blue;

     }

     .div:hover {
        color: orange;
      
     }

     